.weatherBg{
  background:url("http://www.noaa.gov/sites/default/files/styles/landscape_width_1275/public/legacy/image/2019/Jun/PHOTO-lightning-Paulina-Cwik-NOAA-2048x136-041115-original.jpg?h=333476f2&itok=o6r6wuPI");
  height:50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
}
.heading{
  color:white;
  font-weight: bold;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height:400px;
}
.weatherIcon{
  width: 100px;
  height: 100px;
  margin:1rem;
}
.weatherCity{
  font-size:50px;
  font-family: 'Cookie', cursive;
font-family: 'Estonia', cursive;
font-weight:500;
}
.weatherTemp{
  font-size:40px;
  font-weight: 700;
  font-family:italic;
}
.weatherwind{
  font-size:40px;
  font-weight: 700;
  font-family: italic;
}
.weatherpressure{
  font-size:40px;
  font-weight: 700;
  font-family: italic;
}